@media (max-width: 768px) {
  #filtro-preco {
      margin-top: 1rem;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding-top: 4.5rem;
}
header { 
  background-color: #190f42;
  font-size: 30px;
}

.logo {
  width: auto; /* Ajuste conforme necessário */
  height: 40px;
  margin-right: 20px; /* Espaçamento entre a logo e o texto */
}

.festa {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-bottom: 10px;
  border: 2px rgb(97, 97, 97) solid;
}

.festa .card-title {
  font-size: 20px;
  background-color: #190f42; 
  color: #fff; 
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0; 
  width: 100%; 
  box-sizing: border-box; 
  padding-left: 15px;
}

.festa p {
  margin: 10px 0px 0px 15px;
  line-height: 20px;
}

footer {
  background-color: #190f42;
}

footer a {
  font-weight: 600;
  text-decoration: none;
  color: #FFDD4A;
}